<div class="container">
    <div class="alert alert-secondary text-center">
        <h1>All Post</h1>
    </div>

    <table class="table table-bordered">
        <thead class="bg-dark text-center">
        <tr class="text-white">
            <th>Title</th>
<!--            <th>ID</th>-->
            <th>Description</th>
            <th>Comments Allowed</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody class="text-center">
        {{#each posts}}
            <tr>
                <td>{{title}}</td>
<!--                <td>{{_id}}</td>-->
                <td>{{description}}</td>
                <td>{{allowComments}}</td>
                <td>{{category.title}}</td>
                <td class="d-flex">

                    <a href="/admin/posts/edit/{{_id}}" class="btn btn-sm btn-warning mr-3">Edit Post</a>
<!--                    form tag only supports get and post, so if we want to implement delete-->
<!--                    we need to use method-override. Ex: action="?getter=DELETE" or action="?getter=PUT"-->
<!--                    getter need to be defined at the methodOverride middleware-->
                    <form action="/admin/posts/delete/{{_id}}?newMethod=DELETE" method="post">
                        <button class="btn btn-sm btn-danger" type="submit">Delete Post</button>
                    </form>
                </td>
            </tr>
        {{/each}}

        </tbody>
    </table>
</div>